<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <h1 style="line-height: 1.25;">
        <svg class="mr-1" style="vertical-align: bottom;" width="42" height="42" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512">
          <path fill="currentColor" d="M464 64c8.823 0 16 7.178 16 16v352c0 8.822-7.177 16-16 16H48c-8.823 0-16-7.178-16-16V80c0-8.822 7.177-16 16-16h416m0-32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm-336 96c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm0 96c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm0 96c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm288-148v-24a6 6 0 0 0-6-6H198a6 6 0 0 0-6 6v24a6 6 0 0 0 6 6h212a6 6 0 0 0 6-6zm0 96v-24a6 6 0 0 0-6-6H198a6 6 0 0 0-6 6v24a6 6 0 0 0 6 6h212a6 6 0 0 0 6-6zm0 96v-24a6 6 0 0 0-6-6H198a6 6 0 0 0-6 6v24a6 6 0 0 0 6 6h212a6 6 0 0 0 6-6z"></path>
        </svg>
        ngx-csv
      </h1>
      <p class="lead">Angular directive for easily generating a CSV download in the browser.</p>
      <mdo-github-button count="true" user="typectrl" repo="ngx-csv">
      </mdo-github-button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Install</h5>
      <pre class="bg-light p-3"><code>npm install @ctrl/ngx-csv</code></pre>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Import</h5>
      <pre class="bg-light p-3"><code>import {{ '{' }} CsvModule } from '@ctrl/ngx-csv';</code></pre>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Use</h5>
      <pre class="bg-light p-3"><code>&lt;a <strong>csvLink [data]="data"</strong>>Download&lt;/a></code></pre>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Examples</h5>
    </div>
    <div class="col-12 mb-3">
      <p><strong>Array of objects</strong></p>
      <pre class="bg-light p-3 mb-2"><code>[
  {{ '{' }} firstname: 'Ahmed', lastname: 'Tomi', email: 'ah@smthing.co.com' },
  {{ '{' }} firstname: 'Raed', lastname: 'Labes', email: 'rl@smthing.co.com' },
  {{ '{' }} firstname: 'Yezzi', lastname: 'Min l3b', email: 'ymin@cocococo.com' },
]</code></pre>
      <a class="btn btn-primary" csvLink [data]="arrayOfObjects">
        <download-svg></download-svg>
        Download
      </a>
    </div>

    <div class="col-12 mb-3">
      <p><strong>Array of array of strings</strong></p>
      <pre class="bg-light p-3 mb-2"><code>[
  ['firstname', 'lastname', 'email'] ,
  ['Ahmed', 'Tomi' , 'ah@smthing.co.com'] ,
  ['Raed', 'Labes' , 'rl@smthing.co.com'] ,
  ['Yezzi', 'Min l3b', 'ymin@cocococo.com'],
]</code></pre>
      <a class="btn btn-primary" csvLink [data]="arrayOfArrays">
        <download-svg></download-svg>
        Download
      </a>
    </div>
  </div>
</div>
